apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgre
spec:
  selector:
    matchLabels:
      app: postgre
  template:
    metadata:
      labels:
        app: postgre
    spec:
      containers:
        - name: postgre
          image: postgres:15.0
          ports:
          - containerPort: 5432
          env:
          - name: POSTGRES_DB
            value: "noticiasdb"
          - name: POSTGRES_USER
            value: "noticias"
          - name: POSTGRES_PASSWORD
            value: "Pg1234"  

---

apiVersion: v1
kind: Service
metadata:
  name: postgre
spec:
  selector: 
    app: postgre
  ports:
    - port: 5432
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: web
          image: haryston/noticias:${{github.run_number}}
          ports:
          - containerPort: 8080
          env:
          - name: DB_DATABASE
            value: "noticiasdb"
          - name: DB_USERNAME
            value: "noticias"
          - name: DB_PASSWORD
            value: "Pg1234" 
          - name: DB_HOST
            value: "postgre" 
          readinessProbe:
          httpGet:
            path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 45
            periodSeconds: 20
            timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector: 
    app: web
  ports:
    - port: 80
      targetPort: 8080

  type: LoadBalancer
