name: Continuos Integration - Continuous Delivery 

on: 
    push:
        branches: ["main"]  

jobs: 
  CI:  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

    #  - name: Bump version and push tag
    #    id: tagger
    #    uses: anothrNick/github-tag-action@1.67.0
    #    env:
    #      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #      WITH_V: false
      
     
        
      - name: Login no Docker Hub
        uses: docker/login-action@v3.4.0
        with:
          username: ${{  secrets.DOCKER_HUB_USERNAME  }}
          password: ${{  secrets.DOCKER_HUB_TOKEN   }}
              
         

      - name: push latest 
        uses: docker/build-push-action@v6.18.0
        with:
            context: .
            file: ./Dockerfile
            push: true
            tags: | 
             haryston/noticiastcc:${{github.run_number}}
             haryston/noticiastcc:latest
            
  CD:
   runs-on: ubuntu-latest                                                                       
   needs: [CI]

   steps:    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
            host: ${{  secrets.SSH_HOSTNAME  }}
            username: ${{  secrets.SSH_USERNAME  }}
            key: ${{  secrets.SSH_PRIVATE  }}
            script: |
                sudo systemctl restart noticiastcc.service
                exit
               
      
        
          
            

