name: Continuos Integration - Continuous Delivery 

on: 
    push:
        branches: ["main"]  

jobs: 
  CI:  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3.4.0
        with:
          username: ${{  secrets.DOCKER_HUB_USERNAME  }}
          password: ${{  secrets.DOCKER_HUB_TOKEN   }}

      - name: Construção da imagem docker            
        uses: docker/build-push-action@v6.15.0
        with: 
               context: .
               file: ./Dockerfile
               push: true 
               tags: |
                haryston/noticiastcc:${{github.run_number}}
                haryston/noticiastcc:latest
 # CD:
  #  runs-on: ubuntu-latest                                                                       
   # needs: [CI]

    #steps:    
     # - name: Checkout code
      #  uses: actions/checkout@v4
      #- name: definindo o contexto
       # uses: Azure/k8s-set-context@v3.0
        #with: 
         #   method: kubeconfig
          #  kubeconfig: ${{secrets.K8S}}
      
        
          
            

